.hospital{
    margin: 0px;
   padding: 0px;
 }
 nav{
 width: 100%;
 height: 75px;
 line-height: 75px;
 padding: 0px 100px;
 position: fixed;
 top: 0;
 background-color: rgb(163, 0, 0);
 }
 .Hospital p{
    font-size: 30px;
    margin:0;
    font-weight: bold;
    padding: 0;
    float: left;
    color: rgb(189, 140,7);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    }
    nav ul{
      float: middle;
      }
    nav li{
    display:inline-block;
    list-style: none;
    } 
    nav ul li{
      list-style:none;
      display:inline block;
      margin: 0 20px;
      position: relative;
      }
    nav li a{
      font-size: 18px;
      text-decoration: none;
      padding: 0px 10px;
      color: white;
      text-transform: uppercase;
    }
    nav ul li::after{
      content: '';
      height: 3px;
      width: 0;
      background: #fa2121;
      position: absolute;
      left: 0;
      bottom: 10px;
      }
      nav ul li:hover::after{
      width:100%
      }
  .para {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    padding: 7%;
    font-size: 19px; /*top margin*/
font-family: 'Times New Roman', Times, serif;
    }
    .out{
      background: url(pictures/Thumbay\ Hospital\ pic.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
      height: 90vh;
    }
    .inn{
      padding: 10% 0;
    }
    .out2{
      background: url(pictures/thumbay\ dental\ hospital.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
      height: 90vh;
    }
    .inn2{
      padding: 10% 0;
    }
    .out3{
      background: url(pictures/Physical\ therapy-Thumbay\ rehab.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
      height: 90vh;
    }
    .inn3{
      padding: 10% 0;
    }
    .out4{
      background: url(pictures/Thumbay\ Clinic.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
      height: 90vh;
    }
    .inn4{
      padding: 10% 0;
    }
    .out5{
      background: url(pictures/Thumbay\ Hospital\ Ajman.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
      height: 90vh;
    }
    .inn5{
      padding: 10% 0;
    }
    .out6{
      background: url(pictures/Thumbay\ Hospital\ Fujairah.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
      height: 90vh;
    }
    .inn6{
      padding: 10% 0;
    }
    .out7{
      background: url(pictures/Thumbay\ Medical\ &\ Dental\ Speciality\ Centre\,\ Sharjah.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
      height: 90vh;
    }
    .inn7{
      padding: 10% 0;
    }
    .out8{
      background: url(pictures/Thumbay\ Hospital\ day\ Care\,\ University\ City\ Road.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      width: 100%;
      height: 90vh;
    }
    .inn8{
      padding: 10% 0;
    }
    .footer{
      position: relative;
      bottom: 0;
      width: 100;
      padding: 40px 0;
      background-color: rgb(44, 44, 44);
      }
      .footer .icons {
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }
    
    .footer .icons a {
        font-size: 24px;
        color: white;
        border: 2px solid rgb(255, 255, 255);
        width: 40px;
        height: 40px;
        line-height: 40px; /* Adjusted to match height */
        display: inline-block;
        text-align: center;
        border-radius: 50%; /* To make it circular */
        margin: 0 8px;
        box-shadow: inset 0 0 10px gray, 0 0 10px gray;
        transition: 0.3s ease;
    }
    
    .footer .icons a:hover {
        transform: scale(1) translateY(0);
    }
        .list{
          margin: 30px 0;
          }
          .list ul{
          display: flex;
          justify-content: center;
          list-style-type: none;
          }
        .list ul a{
        color: white;
        margin: 20px;
        text-decoration: none;
        font-size: 1.3em;
        opacity: 0.7;
        transition: 0.5s;
        }
        .list ul li a:hover{
        opacity: 1;
        }
        .footerbottom{
          background-color: black;
          padding:20px;
          text-align: center;
          }
          .footerbottom p{
          color:white
          
          }
 